
.indexMain{
  background: #00c3ff;
  background: linear-gradient(180deg,#00c3ff 0%, rgba(255, 255, 255, 1) 80%);
}
.indexMain3 .indexContent{
  margin-top: 75px;
}
.indexMain3{
  background: #00c3ff;
  background: linear-gradient(180deg,rgba(255, 255, 255, 1) 20%, #00c3ff 100% );
  
}

.card{
  margin: 0 auto;
  float: none;
}
.col-xl-3{
  margin:auto;
}
.row{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

