.nema-rezultata{
    min-height: 60vh;
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.rezultati{
    min-height: 60vh;
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}