.navbar{
    background: #00c3ff;
  
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
  }
  .nav-item{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px !important;
  }
  .nav-link{
    font-size:20px;
    transition: transform 0.3s ease-in-out ;
  }
  .nav-link:hover{
    transform: scale(1.2);
  }
  
  @media only screen and (max-width: 991px) {
      .indexDiv {
        text-align: center !important;
      }
      .indexImg{
        text-align: center !important;
      }
      
    }
    @media only screen and (max-width: 1200px) {
      
      .card{
        width:24rem !important;
        margin-top: 15px;
      }
     
    }
  .footer{
    background-color: #00c3ff;
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  }
  .footer-icon{
    transition: transform 0.3s ease-in-out;
  }
  
  .footer-icon:hover{
    transform:scale(1.2);
    cursor: pointer;
  }
  .moving-div {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    background-color: darkblue;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-top: 5px;
    padding-bottom: 5px; /* Optional background */
  }
  
  .moving-span {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left-right 25s linear infinite;
    font-weight: bold;
    color: #ffffff; /* Optional color */
    font-size: 1.2rem;
  }
  
  @keyframes scroll-left-right {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }